@mixin bubble-style($ab-delay, $sw-delay, $left, $top, $scale) {
    border-radius: 50%;
    box-shadow: 0 20px 30px var(--color-shadow-20), inset 0 10px 30px 5px var(--color-white-shadow-100);
    height: 200px;
    position: fixed;
    width: 200px;
    animation: animate-bubble $ab-delay linear infinite, sideways $sw-delay ease-in-out infinite alternate;
    left: $left;
    top: $top;
    transform: scale($scale);
}

@mixin bubble-after-style {
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,var(--color-white-shadow-50)), color-stop(70%,var(--color-white-shadow-0)));
    background: radial-gradient(center, ellipse farthest-corner, var(--color-white-shadow-50) 0%,var(--color-white-shadow-0) 70%);
    background: radial-gradient(ellipse at center, var(--color-white-shadow-50) 0%,var(--color-white-shadow-0) 70%);
    border-radius: 50%;
    box-shadow: inset 0 20px 30px var(--color-white-shadow-30);
    content: "";
    height: 180px;
    left: 10px;
    width: 180px;
}

@mixin logo-default-style {
    background: url("https://www.fb88big.com/Content/images/casino/games/slider/fisherLogo.png") center center no-repeat;
    width: 100%;
    height: 350px;
    background-size: contain;
    position: relative;
    margin-top: 75px;
    z-index: 5;
}

@mixin fish-1199-screen-style {
    @include max1199 {
        background: none;
        background-size: 0;
        height: 0;
        width: 0;
    }
}

.fishermenGold {
    width: 100%;
    overflow: hidden;

    &__content {
        background: url("https://www.fb88big.com/Content/images/casino/games/slider/FishermenGreen.jpg") top center no-repeat;
        min-height: 1047px;
        top: 0;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    &__centerContent {
        height: 500px;
        width: 868px;
        padding-top: 100px;
    }
    
    &__logo {
        @include logo-default-style;
    }

    &__holder {
        height: 100%;
        width: 66%;
        margin-top: -465px;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    }

    &__fish1 {
        background: url("https://www.fb88big.com/Content/images/casino/games/landing-page/fish1.png");
        width: 252px;
        height: 223px;
        display: inline-block;
        position: relative;
        top: -10%;
        left: -60%;
        animation-name: floating;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-size: contain;

        @include fish-1199-screen-style;
    }

    &__fish2 {
        background: url("https://www.fb88big.com/Content/images/casino/games/landing-page/fish2.png");
        width: 250px;
        height: 300px;
        display: inline-block;
        position: relative;
        top: 0;
        left: 67%;
        animation-name: floating;
        animation-duration: 3.2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-right: 35px;
        margin-top: -33px;
        background-size: contain;

        @include fish-1199-screen-style;
    }

    &__fish3 {
        background: url("https://www.fb88big.com/Content/images/casino/games/landing-page/fish3.png");
        width: 350px;
        height: 193px;
        display: inline-block;
        position: relative;
        top: -58%;
        left: -16.3%;
        animation-name: floating;
        animation-duration: 3.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-top: 242px;
        margin-left: -289px;
        background-size: contain;

        @include fish-1199-screen-style;
    }

    &__fish4 {
        background: url("https://www.fb88big.com/Content/images/casino/games/landing-page/fish4.png");
        width: 304px;
        height: 246px;
        display: inline-block;
        position: relative;
        top: -55%;
        left: 105%;
        animation-name: floating;
        animation-duration: 3.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-top: 211px;
        margin-right: -332px;
        background-size: contain;

        @include fish-1199-screen-style;
    }   

    &__text {
        position: relative;
        width: 100%;
        height: 200px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subTitle {
        font-size: 28px;
        font-style: italic;
        color: var(--color-broom);
        font-weight: bold;
        text-shadow: 1px 1px 0 var(--color-black);
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
        line-height: 40px;

        @include max767 {
            font-size: 20px;
        }
    }

    &__moreDetails {
        line-height: 43px;
        background: none;
        color: var(--color-broom);
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 1s ease;
        border: 1px solid var(--color-broom);
        padding: 0 20px;
        width: 120px;
        height: 43px;
        border-radius: 5px;
        font-size: 12px;
        

        &:hover, &:focus {
            background: var(--color-broom);
            color: var(--color-cola);
            background-image: var(--color-amber-gradient);
            cursor: pointer;
        }
    }

    &__playForFun {
        background: none;
        color: var(--color-white);
        text-align: center;
        font-size: 14px;
        display: inline-block;
        font-weight: 700;
        border: none;
        margin-top: 20px;
        text-decoration: underline;
        position: relative;

        &:hover {
            color: var(--color-white);
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__bubble {
        &::after {
            @include bubble-after-style;
        }
    }

    &__bubble1 {
        @include bubble-style(25s,2s,-5%,5%,0.6);

    }

    &__bubble2 {
        @include bubble-style(20s,4s,5%,80%,0.4);
    }

    &__bubble3 {
        @include bubble-style(48s,2s,10%,40%,0.7);
    }

    &__bubble4 {
        @include bubble-style(30s,3s,20%,0,0.3);
    }

    &__bubble5 {
        @include bubble-style(29s,4s,30%,50%,0.5);
    }

    &__bubble6 {
        @include bubble-style(41s,2s,50%,0,0.8);
    }

    &__bubble7 {
        @include bubble-style(50s,2s,65%,70%,0.4);
    }

    &__bubble8 {
        @include bubble-style(22s,3s,80%,10%,0.3);
    }

    &__bubble9 {
        @include bubble-style(49s,4s,90%,50%,0.6);
    }

    &__bubble10 {
        @include bubble-style(35s,2s,80%,80%,0.3);
    }

}

@keyframes animate-bubble {
    0% {
        margin-top: 500px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes sideways {
    0% {
        margin-left: 0;
    }
    
    100% {
        margin-left: 50px;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0);
    }
}