@font-face {
    font-family: icomoon;
    src:  url('/static/fonts/icomoon/icomoon.eot?q2f28z');
    src:  url('/static/fonts/icomoon/icomoon.eot?q2f28z#iefix') format('embedded-opentype'),
      url('/static/fonts/icomoon/icomoon.ttf?q2f28z') format('truetype'),
      url('/static/fonts/icomoon/icomoon.woff?q2f28z') format('woff'),
      url('/static/fonts/icomoon/icomoon.svg?q2f28z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .svg {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: icomoon, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  $icons: (
    // Header
    "notification_bell": "\e987",
    "password": "\e98c",
    "arrow_down": "\e999",
    "people": "\e98d",
    "home": "\e95b",
    "mobile": "\e97e",
    "sports": "\e9a8",
    "virtual_sports": "\e9cd",
    "esports": "\e93e",
    "live_casino": "\e96d",
    "slots": "\e9a6",
    "game_icon_3": "\e952",
    "lotto": "\e976",
    "promotion": "\e994",
    "help_center": "\e959",

    // Footer
    "chrome": "\e91a",
    "firefox": "\e94c",
    "ms_edge": "\e980",
    "safari": "\e99f",
    "gaming_labs": "\e953",
    "eighteen": "\e93c",
    "gam_care": "\e951",
    "gamble_aware": "\e950",
    "pagcor": "\e98b",
    "verified_and_secured": "\e9c6",

    // Payments EN
    "skrill": "\e9a4",
    "neteller": "\e982",
    "visa": "\e9d1",
    "master_card": "\e97a",
    "entropay": "\e93d",

    // Payments VN
    "vietcom_bank": "\e9c9",
    "acb": "\e902",
    "bidv": "\e914",
    "techcom_bank": "\e9b8",
    "vietin_bank": "\e9ca",

    // Payments TH
    "bangkok_bank": "\e90f",
    "kasikorn_bank_2": "\e966",
    "krung_thai_4": "\e96a",
    "scb_thai": "\e9a0",

    // Payments CN
    "alipay": "\e906",
    "bank_1": "\e910",
    "bank_3": "\e911",
    "qqpay": "\e996",
    "unionpay": "\e9c2",
    "wechat": "\e9d3",

    // Casino
    "baccarat": "\e9ab",
		"black_jack": "\e9ad",
		"bull_bull": "\e9c5",
		"casino_holdem": "\e9d0",
		"craps": "\e9d9",
		"dragon_tiger": "\e9da",
		"dream_catcher": "\e93b",
		"fan_tan": "\e9db",
		"lightning_dice": "\e96b",
		"lucky_spin": "\e9dc",
		"mega_ball": "\e97b",
		"roulette": "\e9dd",
		"sic_bo": "\e9de",
		"win_3cards": "\e9df",
    
    "favorites": "\e949",
    "baccarat2": "\e90e",
    "black_jack2": "\e915",
    "bull_bull2": "\e916",
    "casino_holdem2": "\e918",
    "craps2": "\e932",
    "dragon_tiger2": "\e93a",
    "dream_catcher2": "\e9e9",
    "fan_tan2": "\e945",
    "lightning_dice2": "\e9ea",
    "mega_ball2": "\e9eb",
    "roulette2": "\e99b",
    "sic_bo2": "\e9a2",



    "arrow_up": "\e942",
    "seven": "\e901",
    "account": "\e903",
    "agribank": "\e904",
    "air_fighter": "\e905",
    "all_icon": "\e907",
    "all_promo": "\e9e4",
    "apple_icon": "\e908",
    "apple_ios": "\e909",
    "apps": "\e90a",
    "arrow_left": "\e90b",
    "arrow_right": "\e90c",
    "asia_365": "\e90d",
    "basketball": "\e912",
    "bet_guide": "\e913",
    "cashier": "\e917",
    "chat_now_icon": "\e919",
    "close_btn": "\e91b",
    "club_ace_italic": "\e91c",
    "club_ace": "\e91d",
    "club_ace_1": "\e91e",
    "clube_eight": "\e91f",
    "club_jack_italic": "\e920",
    "club_jack": "\e921",
    "club_jack_1": "\e922",
    "club_king_italic": "\e923",
    "club_king": "\e924",
    "club_king_1": "\e925",
    "club_koi": "\e926",
    "club_nine": "\e927",
    "club_nine_1": "\e928",
    "club_queen_italic": "\e929",
    "club_queen": "\e92a",
    "club_queen_1": "\e92b",
    "club_ten_italic": "\e92c",
    "club_ten": "\e92d",
    "club_ten_1": "\e92e",
    "contact": "\e92f",
    "contact_email": "\e930",
    "contact_phone": "\e931",
    "credit_card": "\e933",
    "credit-card-checked": "\e934",
    "cs_247": "\e935",
    "deposit": "\e936",
    "dog": "\e937",
    "dong_a_bank": "\e938",
    "download_icon": "\e939",
    "esportsx": "\e93f",
    "euro_365": "\e940",
    "euro_icon": "\e941",
    "explorer": "\e943",
    "facebook": "\e944",
    "faq": "\e946",
    "faq_italic": "\e947",
    "fast_transfer": "\e948",
    "fb88_app": "\e94a",
    "fb88_sports": "\e94b",
    "fisherman_gold": "\e94d",
    "fishing_king": "\e94e",
    "football": "\e94f",
    "gift_icon": "\e954",
    "google_plus": "\e955",
    "govim": "\e956",
    "burger_menu": "\e957",
    "hand_shake": "\e958",
    "history": "\e95a",
    "home_1": "\e95c",
    "horse": "\e95d",
    "hot": "\e95e",
    "how_to_bet": "\e95f",
    "how_to_deposit": "\e960",
    "how_to_play": "\e961",
    "how_to_transfer": "\e962",
    "how_to_withdraw": "\e963",
    "i_lotto": "\e964",
    "android_icon": "\e965",
    "keno": "\e967",
    "kick": "\e968",
    "king_slots": "\e969",
    "line_app": "\e96c",
    "live_chat": "\e96e",
    "live_chat_bubble": "\e96f",
    "live_help": "\e970",
    "lock_and_key": "\e971",
    "login": "\e972",
    "logout": "\e973",
    "logout_1": "\e974",
    "logout_2": "\e975",
    "luck_5": "\e977",
    "luck_28": "\e978",
    "mail": "\e979",
    "menu_icon": "\e97c",
    "messenger": "\e97d",
    "mobile_2": "\e97f",
    "my_account": "\e981",
    "new": "\e983",
    "newspaper": "\e984",
    "newspaper2": "\e985",
    "new_sports": "\e986",
    "number_game": "\e988",
    "p2p": "\e989",
    "p3": "\e98a",
    "pg_slots": "\e98e",
    "phone": "\e98f",
    "pk10_menu_mobile": "\e990",
    "like": "\e991",
    "profile": "\e992",
    "profile_2": "\e993",
    "promo_casino":"\e9e2",
    "promo_lottery":"\e9e3",
    "promo_slot":"\e9e0",
    "promo_specials":"\e9e1",
    "promo_sports":"\e9e7",
    "promo_new":"\e9e5",
    "promo_winners":"\e9e6",
    "qq": "\e995",
    "queen_slots": "\e997",
    "refresh": "\e998",
    "registration": "\e99a",
    "rules": "\e99c",
    "running_arrow": "\e9e8",
    "saba": "\e99d",
    "sacom_bank": "\e99e",
    "sea_lottery": "\e9a1",
    "sicbo_lottery": "\e9a3",
    "skype": "\e9a5",
    "social_news": "\e9a7",
    "sports_247": "\e9a9",
    "sports_365": "\e9aa",
    "sports_3": "\e9cc",
    "sports_5": "\e9ce",
    "sports_x": "\e9ac",
    "star": "\e9ae",
    "super_lottery": "\e9af",
    "swipe": "\e9b0",
    "symbol_defs": "\e9b1",
    "tasks-path1": "\e9b2",
    "tasks-path2": "\e9b3",
    "tasks-path3": "\e9b4",
    "tasks-path4": "\e9b5",
    "tasks-path5": "\e9b6",
    "tasks-path6": "\e9b7",
    "telegram": "\e9b9",
    "telegram_1": "\e9ba",
    "tennis_racket": "\e9bb",
    "ten_slots": "\e9bc",
    "transaction": "\e9bd",
    "trophy": "\e9be",
    "trophy_2": "\e9bf",
    "tutorials": "\e9c0",
    "twitter": "\e9c1",
    "available_247": "\e9c3",
    "user": "\e9c4",
    "viber": "\e9c7",
    "viber_2": "\e9c8",
    "vip_icon": "\e9cb",
    "virtual_sports_2": "\e9cf",
    "wallet": "\e9d2",
    "withdraw": "\e9d4",
    "world_cup": "\e9d5",
    "zalo": "\e9d6",
    "zalo_1": "\e9d7",
    "zalo_2": "\e9d8",
    "gamepad": "\e900",
);

@each $name, $value in $icons {
    .#{$name}:before {
      content: $value;
    }
}